* {
	margin:0;
	padding: 0;

}

html, body {
	width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #285473;
}

h2 {
	font-size: 1.5em;
	padding: 15px 10px;
}

a {
  text-decoration: none;
  color: #285473;
}

ul li {
	list-style-type: none;
	display: block;
}

.playlists {
	display: block;
}

.playlists li a {
	display: block;
	padding: 15px 10px;
	border-bottom: 1px solid #e1e5eb;
}

.playlists li a:hover {
	background: #e1e5eb;
}

#nav {
	position: fixed;
	width: 30%;
	height: 100%;
	background-color: #edeef0;
}

#audio {
	margin-left: 30%;
}